:root {
    --bg: #ffffff;
    --text: #333;
    --header: #1a202c;
    --box-bg: #edf2f7;
    --table-bg: white;
    --th-bg: #f8f9fa;
    --border: #e0e0e0;
    --hover: #f1f3f5;
}

body.dark-mode {
    --bg: #121212;
    --text: #e0e0e0;
    --header: #e0e0e0;
    --box-bg: #1e1e1e;
    --table-bg: #1a1a1a;
    --th-bg: #222;
    --border: #333;
    --hover: #1f1f1f;
}

* {
    font-family: Arial, "Segoe UI", sans-serif;
    /* font-size: 18px; */
}

body {
    margin: 0;
    padding: 16px;
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s, color 0.3s;
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #000
}

h1 {
    margin: 0;
    font-size: 20px
}

h2 {
    margin: 0;
    color: #000;
    font-size: 18px
}
h3 {
    margin: 0;
    color: #7d7d7d;
    font-size: 16px
}

input[type="text"] {
    padding: 8px;
    /* width: 300px; */
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    color: black;
    
}

select {
    padding: 8px;
    /* width: 300px; */
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 16px
}


button {
    padding: 12px 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.txt-danger {
    color: #dc3545;
}
.txt-success {
    color: #28a745;
}
.primary {
    background-color: #007bff;
}
.primary:hover {
    background-color: #0056b3;
}

.danger {
    background-color: #dc3545;
}
.danger:hover {
    background-color: #b40819;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
label {
    font-weight: bold;
    color: #7d7d7d;
}
p {
    margin: 0;
}

.status-box {
    padding: 10px;
    background: var(--box-bg);
    border-left: 4px solid #007bff;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 4px;
}

table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
    background: var(--table-bg);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 6px 16px;
    border-bottom: 1px solid var(--border);
    text-align: left;
}

th {
    background-color: var(--th-bg);
    font-weight: 600;
}

tr:hover {
    background-color: var(--hover);
}

.win {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    border: 0px solid var(--border);
    border-radius: 16px;
    padding: 16px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
    /* color: #00ff37; */
    
}

#connect {
    margin-top: 16px;
}
#start {
    margin-top: 16px;
}
#api-token {
    font-size: 16px;
}

.description {
    font-size: 12px;
    margin-top: 8px
}
.description p {
    margin: 6px 0;
}
ol {
    padding: 0 20px;
    margin: 0;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    overflow-x: auto;
}
.flex-1 {
    flex: 1
}

.mb-base {
    margin-bottom: 16px;
}

#tick-list {
    margin: 0;
    padding: 0;
}
input:disabled {
    color: #aaa;
    cursor: not-allowed;
}

#account-id, #balance {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

#trade-count, #winrate, #total-profit {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
}
.img {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}

.d-none {
    display: none;
}
.fs-i {
    font-size: 22px;
}
